
.container__header {
    width: 100dvw;
    height: 7rem;
    background-color: var(--color1);
}

.header {
    width: 90dvw;
    height: inherit;
    margin: auto;

    /* background-color: var(--color1); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative; 
}

.container__logo {
    width: 160px;
    height: auto;
    z-index: 2;
    position: relative;
}

.container__logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.nav {
    display: none;
    width: auto;
    height: inherit;
}

.navActive {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--color1);
    width: 100dvw;
    height: 0dvh;
    position: absolute;
    top: 0;
    z-index: 1;
}

.iconNav {
    color: var(--color3);
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 10;
}

.container__a {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1.7rem;
    gap: 1.5rem;
    position: relative;
}

.container__a .a {
    display: inline-block;
    position: relative; /* necesario para ::before */
    text-decoration: none;
    color: var(--color3);
    font-size: 1.2rem;
}

.container__a .a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0;
    height: 2px;
    background: var(--color3);
    transition: width 0.6s;
}

/* Mobile: activa la línea al recibir foco */
.container__a .a:focus::before,
.container__a .a:focus-visible::before {
    width: 100%;
}

@media (min-width: 720px) {

    .navActive {
        align-items: center;
    }
    
    .container__a {
        /* padding-bottom: 50px; */
        transition: all 1.3s;
    }
    
    .container__a .a {
        transition: font-size 1.3s;
    }
}

@media (min-width: 900px) {
    .navActive, .iconNav, .iconMenu {
        display: none;
    }

    .header {
        background-color: var(--color1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .container__logo img {
        width: 150px;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
    }

    .container__a {
        flex-direction: row;
        margin: 0;
        align-items: center;
    }

}
