.container__header {
    width: 100dvw;
    height: 100px;
    background-color: var(--color1);
    z-index: 210;
    position: relative;
}

.header {
    display: flex;
    height: inherit;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    z-index: 210;
}

.container__logo {
    width: 160px;
    height: auto;
    position: relative;
    z-index: 210;
}

.container__logo img {
    width: auto;
    height: auto;
    object-fit: cover;

}

.iconNav {
    color: var(--color3);
    font-size: 2.5rem;
    cursor: pointer;
    position: relative;
    z-index: 200;

}

.nav {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.navActive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    background-color: var(--color1);
    position: fixed;
    inset: 0;
    width: 100dvw;
    height: 100dvh;
    opacity: 1;
    z-index: 200;
}

/* Contenedor de links */
.container__a {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
    height: 100px;
    position: relative;
    right: 2rem;
}

/* Links */
.a {
    display: inline-block;           /* ocupa todo el ancho disponible en mobile */
    text-decoration: none;
    text-align: end;
    color: var(--color3);
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
}

.a:hover {
    color: var(--color2);
}

@media (min-width: 720px) {
    
    .container__a {
        transition: all 1.3s;
    }
    
    .a {
        transition: font-size 1.3s;
    }
}

@media (min-width: 900px) {

    .navActive, .iconNav, .iconMenu {
        display: none;
    }

    .container__header {
        width: 90dvw;
        margin: auto;
        position: relative;
        z-index: 999;
    }
    
    .header {
        background-color: var(--color1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        display: flex !important;
        opacity: 1 !important;
        justify-content: flex-end; 
        align-items: center;
        width: 100%;        
        position: relative;
        z-index: 999;
    }

    .container__a {
        display: flex;             
        flex-direction: row;       
        
        align-items: center;
        width: auto;              
        position: relative;
        right: 0;                  
        background-color: transparent;
        z-index: 500;
    }
    
    .a {
        text-align: center;
        width: auto;
        padding: 0;
    }
}
