.section__skills {
  background-color: var(--color1);
  background-color: #000000e3;
  width: 100dvw;
  height: auto;
  margin: auto;
  padding: 3.5rem 0;
}

.container__skills {
  width: 90dvw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.h2 {
  font-size: 1rem;
  width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
  text-align: center;
  color: var(--color3);
  text-shadow: none;
  font-weight: 900;
}

.h2 span {
  font-size: 2.5rem;
  font-family: var(--font-primary);
}

@media (min-width:700px) {
  .container__skills {
  width: 80dvw;
}

}