:root {
    --color1: #000000;
    --color2: #272779;
    --color3: #ffffff;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-color: var(--color1)
    
}

html {
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

