* {
  --color1: #000000;
  --color2: #10144e;
  --color3: #ffffff;
  --font-primary: 'Courier New', Courier, monospace;

  font-family: var(--font-primary);
}

html {
  background-color: var(--color1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}