* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container__hero {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90dvw;
    height: 80dvh;
    margin: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    position: relative;
    width: 100%;
    height: 100%;
}

.title {
    
    font-size: 2rem;

    background: linear-gradient(-10deg, #9da1a7, #9da1a7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    width: 100%;
}

.subtitle {
    color: var(--color3);
    font-size: 2rem;
    text-shadow: 3px 3px 2px #272779be;
}

.heroTxt {
    color: var(--color3);
    font-size: 1rem;
    text-shadow: 3px 3px 2px #272779;
    font-weight: 600;
}

@media (min-width: 720px) {
    .title {
        font-size: 4.3rem;
        background: linear-gradient(-10deg, #ffffff, #3b4149);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .subtitle, .heroTxt {
        color: var(--color3);
        font-size: 1.3rem;
        font-family: 'Courier New', Courier, monospace;
        text-shadow: 3px 3px 2px #272779;
    }
}

@media (min-width: 900px) {

    .container__hero {
        width: 90dvw;
        height: 100%;
        margin: auto;
    }

    .title {
        font-size: 5rem;
    }
}
