.skillsSection {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: block;
}

.skill {
  width: 70px;
  height: 70px;
  background-color: var(--color2);
  border: 0.5px solid #ffffff28;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  left: 0;

  transition: border 0.3s ease, transform 0.3s ease; /* transición suave */
  transform: scale(1); /* escala inicial */
}

.skill.hovered {
  border: 1px solid #2a27c9;
  transform: scale(1.3); 
}

.icon {
  color: var(--color3);
  font-size: 2.5rem;
  width: 40px;
  height: 40px;
}

/* Media queries corregidos */
@media (min-width: 700px) {
  .skillsSection {
    height: 500px;
  }

  .skill {
    transform: scale(1.3);
  }

  .skill.hovered {
  border: 1px solid #2a27c9;
  transform: scale(1.5); 
}

}

@media (min-width: 900px) {
  .skill {
    transform: scale(1.5);
  }

  .skill.hovered {
  border: 1px solid #2a27c9;
  transform: scale(1.6); 
}

}
